.web {
    display: flex;
    flex: 1;
    align-items: center;
}
.web-option a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: gainsboro;
}
.web-option {
    font-size: 20px;
    margin-right: 16px;
}
.option-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
    color: aqua;
}
.web-option:last-child {
    margin-right: 0px;
}
.web-option::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: aqua;
    transition: width .5s;
}
.web-option:hover::after {
    width: 100%;
    transition: width .5s;
}