.work {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}
@media (max-width: 720px) {
    .work {
        padding-top: 10px;
    }
}